apturl
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
bcrypt
beautifulsoup4
bleach
blinker
Brlapi
certifi
cffi
chardet
Click
cloudpickle
cmake
colorama
command-not-found
cryptography
cupshelpers
cycler
dbus-python
debugpy
decorator
defer
defusedxml
distro
distro-info
duplicity
entrypoints
executing
fasteners
fastjsonschema
fonttools
future
gpg
gym==0.18.3
gym-notices
httplib2
idna
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
matplotlib==3.3.4
matplotlib-inline
meld
mistune
monotonic
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
numpy==1.19.5
oauthlib
olefile
packaging
pandas
pandocfilters
paramiko
parso
pexpect
pickleshare
Pillow
pkg_resources
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py
pycairo
pycparser
pycups
pyglet
Pygments
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
PyQt5
pyRFC3339
pyrsistent
PySocks
pytest
python==3.8.10
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
pyzmq
qtconsole
QtPy
reportlab
requests
requests-unixsocket
scipy
SecretStorage
Send2Trash
simplejson
sip
six
soupsieve
ssh-import-id
stable-baselines3
stack-data
systemd-python
terminado
tinycss2
tomli
torbrowser-launcher
torch
tornado
traitlets
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
wcwidth
webencodings
widgetsnbextension
xkit
zipp
